[submodule "JConnPool"]
	path = JConnPool
	url = git://github.com/firejq/JConnPool.git
[submodule "threadLib"]
	path = threadLib
	url = git://github.com/firejq/threadLib.git
[submodule "EasyGet"]
	path = EasyGet
	url = git://github.com/firejq/EasyGet.git
